
<div class="mymodal-wrap">
  <div class="mymodal" class="shadow" style="display:none;">
    <div class="close-modal"><img src="img/close-icon-1.png"></div>
    <h4>Create a board for web apps where people can go to get inspired</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, perspiciatis, quidem, quibusdam ad deserunt impedit odit tempore voluptatum nostrum aperiam expedita iusto ut vero deleniti quas doloremque tempora molestiae quod.</p>
</div>
<!-- <div class="mymodal-wrap">
  <div class="mymodal" class="shadow" style="display:none;">
    <div class="close-modal"><img src="img/close-icon-1.png"></div>
    <h4></h4>
      <p></p>
</div> -->

</div>
  <article class="article">
      <div style="padding:0 15px;"><!-- offset row negative padding -->

      <!--   <div class="row browse-text">
            <div>
              <a class="col-md-3 show-modal post-it giftly" href="1"><h3>...</h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it lined-paper" href="2"><h3>...</h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it squared-metal" href="3"><h3>...</h3></a>
          </div> -->
        <div class="row browse-text">
          <!-- Need the Data Mapper Gem for this to work -->
            <divclass="col-md-3 show-modal post-it lined-paper" href="1">
              <% @posts.each do |post| %>
              <a><h3><%= post.title %></h3></a>
              <p><%= post.body %><p>
            </div>
            <div class="col-md-3 show-modal post-it giftly" href="2">
              <a><h3></h3></a>
            </div>
            <div class="col-md-3 show-modal post-it squared-metal" href="3">
              <a><h3></h3></a>
            </div>
        </div>
          <div class="row browse-text">
            <div>
              <a class="col-md-3 show-modal post-it old-map" href="4"><h3></h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it nice-snow" href="5"><h3></h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it geometry" href="6"><h3></h3></a>
            </div>
        </div>
        <div class="row browse-text">
            <div>
              <a class="col-md-3 show-modal post-it crossword" href="7"><h3></h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it ice_age" href="8"><h3></h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it skulls" href="9"><h3></h3></a>
            </div>
        </div>
        <div class="row browse-text">
            <div>
              <a class="col-md-3 show-modal post-it photography" href="10"><h3></h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it wild_flowers" href="11"><h3></h3></a>
            </div>
            <div>
              <a class="col-md-3 show-modal post-it sprinkles" href="12"><h3></h3></a>
            </div>
        </div>

          <!-- <div class="col-md-3 post-it food">
            <h4>My Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, accusantium, accusamus similique ea magnam quod eaque quos veniam autem debitis harum pariatur illum beatae. Architecto, dicta iure adipisci blanditiis nemo.</p>
          </div>
          <div class="col-md-3 post-it old-map">
            <h4>My Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, in saepe magni hic necessitatibus dolores at ipsum. Maiores, reiciendis, deserunt placeat voluptatum in eligendi repudiandae autem porro optio nihil distinctio.</p>
          </div>
        </div>
        <div class="row browse-text">
          <div class="col-md-3 post-it geometry">
            <a><h3>Create a board for web apps where people can go to get inspired</h3></a>
            <div id="inline1" style="width:400px;display: none;">
              <h4>Create a board for web apps where people can go to get inspired</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, perspiciatis, quidem, quibusdam ad deserunt impedit odit tempore voluptatum nostrum aperiam expedita iusto ut vero deleniti quas doloremque tempora molestiae quod.</p></div>
          </div>
          <div class="col-md-3 post-it dimension">
            <h4>My Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, accusantium, accusamus similique ea magnam quod eaque quos veniam autem debitis harum pariatur illum beatae. Architecto, dicta iure adipisci blanditiis nemo.</p>
          </div>
          <div class="col-md-3 post-it crossword">
            <h4>My Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, in saepe magni hic necessitatibus dolores at ipsum. Maiores, reiciendis, deserunt placeat voluptatum in eligendi repudiandae autem porro optio nihil distinctio.</p>
          </div>
        </div>
        <div class="row browse-text">
          <div class="col-md-3 post-it wild_flowers ">
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, incidunt, deleniti similique earum labore itaque quisquam iure sed repellendus eaque obcaecati dicta corporis suscipit repellat reiciendis. Minima, earum saepe provident.
            </p>
          </div>
          <div class="col-md-3 post-it ice_age">
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, saepe, explicabo ipsa iure dolores dignissimos autem impedit sint illum eum similique quod laboriosam quaerat numquam at reprehenderit atque. Voluptatibus, ex!
            </p>
          </div>
          <div class="col-md-3 post-it photography" >
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, rem, minus autem voluptate cum ratione dolore necessitatibus dolores accusantium quaerat maiores facere recusandae voluptatibus voluptatem blanditiis assumenda praesentium repellendus maxime.
            </p>
          </div>
        </div>
        <div class="row browse-text">
          <div class="col-md-3 post-it old_moon" >
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae eos eveniet temporibus quisquam iste voluptatem. Inventore, quas, corrupti veritatis quod quisquam modi id omnis esse reiciendis culpa voluptatem consectetur.
            </p>
          </div>
          <div class="col-md-3 post-it photography" >
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae eos eveniet temporibus quisquam iste voluptatem. Inventore, quas, corrupti veritatis quod quisquam modi id omnis esse reiciendis culpa voluptatem consectetur.
            </p>
          </div>
          <div class="col-md-3 post-it ricepaper" ><h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae eos eveniet temporibus quisquam iste voluptatem. Inventore, quas, corrupti veritatis quod quisquam modi id omnis esse reiciendis culpa voluptatem consectetur.
            </p></div>
        </div>
        <div class="row browse-text">
          <div class="col-md-3 post-it sandpaper" >
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae eos eveniet temporibus quisquam iste voluptatem. Inventore, quas, corrupti veritatis quod quisquam modi id omnis esse reiciendis culpa voluptatem consectetur.
            </p></div>
          <div class="col-md-3 post-it skulls" >
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae eos eveniet temporibus quisquam iste voluptatem. Inventore, quas, corrupti veritatis quod quisquam modi id omnis esse reiciendis culpa voluptatem consectetur.
            </p></div>
          <div class="col-md-3 post-it sprinkles" >
            <h4>An Idea</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, recusandae eos eveniet temporibus quisquam iste voluptatem. Inventore, quas, corrupti veritatis quod quisquam modi id omnis esse reiciendis culpa voluptatem consectetur.
            </p></div>
      </div> -->
  </article>




<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  </script>
      <script type="text/javascript">
        $('.close-modal').on('click', function() {
          console.log("this is running");
          $('.mymodal-wrap').hide();
          $('.article').show();
        });
        // $('.show-modal').on('click', function() {
        //   console.log("this is running");
        // });

        $('.show-modal').on('click', function(e) {
          e.preventDefault();
          $('.mymodal-wrap').show();
          $('.mymodal').show();
          $('.article').hide();
        });
        // $('.show-modal').on('click', function(e) {
        //   e.preventDefault();
        // });

</script>


</body>
