
<div class = "logo"><span class="glyphicon glyphicon-map-marker"></span></div>
<div class = "get"><h3>Get Involved | Get Inspired</h3></div>
<div id = "post1">
 <span id = "login-idea" ><a href = "/signin"><img src="img/twitter.png"></a></span>
</div>
