

<div class = "logo"><span class="glyphicon glyphicon-map-marker"></span></div>
<div class = "get"><h3>Get Involved | Get Inspired</h3></div>
<div id = "post">
 <span id = "post-idea" class="label label-info"><a href = "/signin">Login with Twitter</a></span>
 <!-- <span id = "post-idea" class="label label-info">'Log in with <a href="initialize">Facebook</a></span> -->
</div>
