<!DOCTYPE html>
<html>
<head>
  <title>Ideas</title>
  <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.css"> -->
  <style>
/*  html {background-color: #28b4e5;}
  body {background-color: #28b4e5; text-align: center; margin-top: 75px; background: no-repeat center center fixed;}
  form {margin: 0 auto; text-align: center; width: 70%;}
  input {border-radius: 4px;}
  h1, h4 {color: white;}
  h2 {color:#c73400;}*/
  </style>
</head>

<body>
  <div>
  <%= yield %>
  </div>
</body>
</html>
