<!-- /*<style type="text/css">
       * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid red;
      }
</style>*/ -->
<article>
   <div style="padding:0 15px;" class="row"><!-- offset row negative padding -->
      <div class="browse-text browse-background">
        <div class="col-lg-9 post-it nice-snow" id="form-container">
          <form action ="/browse" method = 'post'class="post-text-large">
            <div class="col-md-7 post-arrange" id="form-title">
            Title: <input type="text" title="title">
            </div>
            <div class="col-md-7 post-arrange" id="form-post">
            Post:
            <textarea rows="5" cols"10" title="post"></textarea>
            </div>
            <div class="col-md-7 post-arrange" id="form-share">
            Category:
              <select>
                <optgroup label="Categories">
                  <option value="Web App">Web App</option>
                  <option value="mobileapp">Mobile App</option>
                  <option value="desktopapp">Desktop App</option>
                  <option value="service">Service</option>
                  <option value="iosapp">IOS App</option>
                  <option value="android">Android App</option>
                  <option value="windoeapp">Windo App</option>
                  <option value="blackberry">Black Berry App</option>
                </optgroup>
              </select>

            </div>
            <input type = 'submit' value = "Submit">
            <div class="col-md-7 post-arrange" id="form-share">

            </div>

        </form>
  </div>
</article>
