<!-- /*<style type="text/css">
       * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid red;
      }
</style>*/ -->
<article>
   <div style="padding:0 15px;" class="row"><!-- offset row negative padding -->
      <div class="browse-text browse-background">
        <div class="col-lg-9 post-it nice-snow" id="form-container">
<<<<<<< HEAD
          <form action ="/browse" method = 'post'class="post-text-large">
=======
          <form class="post-text-large">
            <div class="col-md-7" id="title-box">
              <h3 class="title-text">Share your idea</h3>
            </div>
>>>>>>> 6e3099aa7d5e702e283fd7e4c89e14cd680dd79a
            <div class="col-md-7 post-arrange" id="form-title">
              Title: <input type="text" title="title">
            </div>
            <div class="col-md-7 post-arrange" id="form-post">
              Post:
            <textarea rows="5" cols"10" title="post"></textarea>
              </div>
            <div class="col-md-7 post-arrange form-box">
              Category:
              <select>
                <optgroup label="Categories">
                  <option value="webapp">Web App</option>
                  <option value="mobileapp">Mobile App</option>
                  <option value="desktopapp">Desktop App</option>
                  <option value="service">Service</option>
                  <option value="mobileapp">Mobile App</option>
                  <option value="mobileapp">Mobile App</option>
                  <option value="mobileapp">Mobile App</option>
                  <option value="mobileapp">Mobile App</option>
                </optgroup>
              </select>

            </div>
<<<<<<< HEAD
            <input type = 'submit' value = "Submit">
            <div class="col-md-7 post-arrange" id="form-share">

=======
            <div class="col-md-7 post-arrange form-box">
              <button type="button" id="submit-button">Submit</button>
>>>>>>> 6e3099aa7d5e702e283fd7e4c89e14cd680dd79a
            </div>

        </form>
  </div>
</article>
