<h2><%= @post.title %></h2>
<p><%= @post.description %></p>
<p><%= @post.category %></p>
<form action="/browse/#{@post.id}" method="POST">
<p><a href ="/browse">Back</a></p>
<p><a href ="/browse/#{@post.id}/edit">Edit</a></p></form>
<form action="/browse/#{@post.id}" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete this post"></form>
