



<div class = "form">
<h1>Login Here</h1>

<form method="post" action="/signup" id = "form">
  <label for="username"><h5>Username</h5></label>
  <input type="text" username="username" /><br>
  <label for="password"><h5>Password</h5></label>
  <input type="text" password="password" /><br>
  <input type="submit" class="label label-success" value="login" /> <a href="/new">Sign Up</a>
</form>
</div>
